<span class="card-wrapper">
    <div class="col-md-6 col-lg-4">
        <div
          class="card card-profile"
          data-image="img-rounded"
        >
          <div class="card-avatar">
            <a href="javascript:;">
              <img class="img" src="assets/img/faces/team-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Venture Capitalist</h6>
            <h4 class="card-title">Austin Johnson</h4>
            <p class="card-description">
                Venture capitalist in downtown Bangkok. Posting great business opportunities!
            </p>
            <button class="btn btn-round mr-1" type="button" style="background-color: #6C757D; color: white;" routerLink="../editprofile">Account Settings</button>
          </div>
        </div>
    </div>
</span>
