<ul class="nav justify-content-center align-items-center">
    <div class="container">

        <div class="row justify-content-around align-items-center">
            <li class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FFFFFF" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
            </li>
            <li class="nav-item">
                <h1 style="color: white">ToKo</h1>
            </li>
            <li class="nav-item">
                <div class="profile-pic-border">
                    <div class="profile-pic-cropper">
                        <img class="profile-pic" routerLink="../mytoko" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg" style="width:100px; height:100px;">
                    </div>   
                </div>  
            </li>
        </div>

        <div class="row justify-content-center flex-fill">
            <app-button-write></app-button-write>
        </div>

    </div>
</ul>