<ul class="nav">
    <div class="container align-items-center">

        <div class="d-flex align-items-center">
            <div class="col">
                <li class="nav-item">
                    <app-back></app-back>
                </li>
            </div>
            <div class="col-6">
                <li class="nav-item">
                    <div class="d-flex align-items-center justify-content-center">
                        <h3 style="color: white; text-align: center;">{{ page }}</h3>
                    </div>
                </li>
            </div>
            <div class="col">

            </div>
        
        </div>

     </div>
</ul>