.profile-portion{
    background-color: #47A23F;
    padding: 3%;
}

.navs-portion {
    margin-top: 3%;
}

.feed-portion {
    margin-top: 3%;
}

.btn {
    background-color: #47A23F;
    color: white;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}

.button {
    margin-right: 3%;
}
