<app-banner-xs [page]="pageToDisplay"></app-banner-xs>

<div class="top-portion">
    <p>This will be myprofile card</p>
    <a routerLink="../editprofile">Edit Profile</a>
</div>

<div class="type-navs-portion">
    <ul class="nav">
        <li class="nav-item">
          <button class="btn btn-primary rounded-pill">Talk</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-primary rounded-pill">Announcement</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-primary rounded-pill">Places</button>
        </li>
    </ul>
</div>

