.profile-portion{
    background-color: #47A23F;
    padding: 3%;
}

.navs-portion {
    margin-top: 3%;
}

.feed-portion {
    margin-top: 3%;
}

.btn-primary {
    background-color: #47A23F;
    border-color: #47A23F;
}