<app-banner-xs [page]="pageToDisplay"></app-banner-xs>

<div class="container justify-content-center profile-portion">
    <app-profilecard></app-profilecard>   
</div>

<div class="navs-portion">
    <div class="container">
        <div class="scrolling-wrapper">
            <div class="button"><button class="btn rounded-pill" (click)="onClick('talk')">My Talk</button></div>
            <div class="button"><button class="btn rounded-pill" (click)="onClick('ann')">My Announcement</button></div>
            <div class="button"><button class="btn rounded-pill" (click)="onClick('eat')">My Eat & Shop</button></div>
        </div>
    </div>
</div>

<div class="container feed-portion">
    <app-talk *ngIf="page === 'talk'"></app-talk>
    <app-ann *ngIf="page === 'ann'"></app-ann>
    <app-eat-post *ngIf="page === 'eat'"></app-eat-post>
</div>


