.profile-pic-cropper {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
.profile-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
}

.profile-pic-border {
    border: 2px solid #ffffff;
    border-radius: 100%;
    display: inline-block;
}