<app-banner-xs [page]="pageToDisplay"></app-banner-xs>

<div class="edit-portion">
    <app-profilepic></app-profilepic>
</div>

<div class="button-portion">
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-block rounded-pill" routerLink="../changepw" (click)="onNav('Change Account Password')">
                    <div class="container">
                        <div class="row justify-content-around align-items-center">
                            <div class="col">
                                <h5>Change Account Password</h5>
                            </div>
                            <div class="col">
                                <app-forward></app-forward>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-block rounded-pill" (click)="onLogout()">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Log Out of ToKo Account</h5>
                            </div>
                            <div class="col">
                                <app-forward></app-forward>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-block rounded-pill" routerLink="../deleteacc" (click)="onNav('Delete ToKo Account')">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Delete ToKo Account</h5>
                            </div>
                            <div class="col">
                                <app-forward></app-forward>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>


