<div class="container testimonial-group">
    <div class="row text-center">
        <div class="col-4"><app-eat-post></app-eat-post></div><!--
        --><div class="col-4"><app-eat-post></app-eat-post></div><!--
        --><div class="col-4"><app-eat-post></app-eat-post></div><!--
        --><div class="col-4">4</div><!--
        --><div class="col-4">5</div><!--
        --><div class="col-4">6</div><!--
        --><div class="col-4">7</div><!--
        --><div class="col-4">8</div><!--
        --><div class="col-4">9</div>
    </div>
</div>

  