<div class="d-flex justify-content-start">
    <div class="container testimonial-group">
        <div class="row text-center">
            <div class="col"><app-post-minipost></app-post-minipost></div><!--
            --><div class="col"><app-post-minipost></app-post-minipost></div><!--
            --><div class="col"><app-post-minipost></app-post-minipost></div><!--
            --><div class="col"><app-post-minipost></app-post-minipost></div><!--
            --><div class="col"><app-post-minipost></app-post-minipost></div><!--
            --><div class="col"><app-post-minipost></app-post-minipost></div><!--
            --><div class="col"><app-post-minipost></app-post-minipost></div><!--
            --><div class="col"><app-post-minipost></app-post-minipost></div><!--
            --><div class="col"><app-post-minipost></app-post-minipost></div>
        </div>
    </div>
</div>

