<div class="container">
    <div class="row justify-content-center">
        <div class="card card-blog fade show active" style="width: 340px; border-radius: 5%;">
            <div class="card-body">
                <img class="card-img rounded fade show" src="https://images.macrumors.com/t/yKXzq1hk6lH0tceh4OpS-AetjMc=/1600x1200/smart/article-new/2020/03/applestorepaloalto.jpg" style="max-height: 167px;"/>
                <p class="card-description">
                    Apple Store ends mask mandate.
                </p>
                <div class="author">
                    <img src="assets/img/faces/team-3.jpg" alt="..." class="avatar img-raised" />
                    <span>Johana Doe</span>
                </div>
                <div class="stats stats-right">
                  <i class="ni ni-favourite-28"></i> 50 ·
                  <i class="ni ni-archive-2"></i> 425
                </div>
            </div>
        </div>
    </div>
</div>
