<div class="container">
    <div class="row justify-content-center">
        <div class="card card-blog fade show active" style="width: 340px; border-radius: 5%;">
            <div class="card-body">
                <img class="card-img rounded fade show" src="https://d1e00ek4ebabms.cloudfront.net/production/cd51b463-6cb6-4248-a365-1b91ace4edb3.jpg" style="max-height: 167px;"/>
                <p class="card-description">
                    Owen is a typical techbro in silicon valley.
                </p>
                <div class="author">
                    <img src="assets/img/faces/team-3.jpg" alt="..." class="avatar img-raised" />
                    <span>Johana Doe</span>
                </div>
                <div class="stats stats-right">
                  <i class="ni ni-favourite-28"></i> 50 ·
                  <i class="ni ni-archive-2"></i> 425
                </div>
            </div>
        </div>
    </div>
</div>
