<div class="container">
    <div class="row justify-content-center">
        <div class="card card-blog fade show active" style="width:auto; border-radius: 5%;" routerLink='/talk-detail'>
            <div class="card-body">
                <img class="card-img rounded fade show" [src]="postSrc.imgSrc" style="max-height: 167px;"/>
                <p class="card-description">
                    {{ postSrc.des }}
                </p>
                <div class="author">
                    <img [src]="postSrc.authorImgSrc" alt="..." class="avatar img-raised" />
                    <span>{{ postSrc.authorName }}</span>
                </div>
                <div class="stats stats-right">
                  <i class="ni ni-favourite-28"></i> {{ postSrc.like }} ·
                  <i class="ni ni-archive-2"></i> {{ postSrc.comment }}
                </div>
            </div>
        </div>
    </div>
</div>