<div class="container">
    <div class="row align-items-center">
        <div class="col-2">
            <app-profilepic></app-profilepic>
        </div>
        <div class="col-6">
            <h5 style="white-space: nowrap">{{ commenterName }}</h5>
        </div>
        <div class="col-4">
            <app-eat-post-stars [stars] = 4></app-eat-post-stars>
        </div>
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-10">
            <p>{{ comment }}</p>
        </div>
    </div>
</div>