<app-banner-xs [page]="pageToDisplay"></app-banner-xs>

<div class="top-portion">
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-block mytokobutton" routerLink="../myprofile">
                    <div class="container">
                        <div class="row justify-content-around align-items-center">
                            <div class="col align-items-center">
                                <div class="profilepic">
                                    <app-profilepic></app-profilepic>
                                </div>
                            </div>
                            <div class="col-6 align-items-center">
                                <div class="row">
                                    <h5 style="text-transform: none;">My Profile</h5>
                                </div>
                                <div class="row">
                                    <p style="text-transform: none; text-align: left;">View and manage your posts and ToKo account</p>
                                </div>
                            </div>
                            <div class="col align-items-center">
                                <app-forward></app-forward>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-block mytokobutton" routerLink="../location">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-8 align-items-center">
                                <h5 style="text-transform: none;">Favorite Location</h5>
                            </div>
                            <div class="col-4">
                                <app-forward></app-forward>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container feed-portion">
    <div class="row justify-content-center align-items-center">
        <p>Announcements from your Favorite Location</p>
        <app-ann-post></app-ann-post>
    </div>
</div>