<ul class="nav justify-content-center">
  <div class="container">
    <ul class="nav nav-justified text-center fixed-bottom bg-light">
      <li class="nav-item" style="padding: 12px;">
        <a class="d-flex flex-column" href="#">
          <i class="fas fa-inbox"></i>
          <span>Post</span>
        </a>
      </li>
      <li class="nav-item" style="padding: 12px;">
        <a class="d-flex flex-column" href="#">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item" style="padding: 12px;">
        <a class="d-flex flex-column" href="#">
          <i class="ni ni-air-baloon"></i>
          <span>Eat & Shop</span>
        </a>
      </li>
    </ul>
  </div>
</ul>
  