<p>signup0 works!</p>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">ToKo End User Agreement</h5>
      <h6 class="card-subtitle mb-2 text-muted">By clicking next, you agree to the terms and conditions listed below.</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="fixed-bottom">
  <button class="btn btn-primary" (click)="onNext()">Next</button>
</div>