<div class="container top-portion">
  <div class="d-flex justify-content-center">
    <div class="card" style="margin-top: 3%; border-radius: 2rem;">
      <div class="card-body">
        <h5 class="card-title">ToKo End User Agreement</h5>
        <h6 class="card-subtitle mb-2 text-muted">By clicking next, you agree to the terms and conditions listed below.</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>

<div class="container nextbtn-portion">
  <div class="fixed-bottom">
    <button class="btn btn-block rounded-pill" style="background-color: #6C757D; color: white; margin-bottom: 3%;" (click)="onNext()">Next</button>
  </div>
</div>
