<div class="container">
    <div class="row justify-content-center">
        <div class="card card-blog fade show active" style="width: 340px; border-radius: 5%;" routerLink="../eat-detail">
            <div class="card-body">
                <img class="card-img rounded fade show" src="https://assets3.thrillist.com/v1/image/2769757/1200x600/scale;" style="max-height: 167px;"/>
                <p class="card-description">
                    Pret A Manger
                </p>
                <span class="align-middle">
                    <div class="author">
                        <span>1.2 KM</span>
                    </div>
                    <div class="stats stats-right">
                      <app-eat-post-stars></app-eat-post-stars>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
