<app-banner-small></app-banner-small>
<ul class="nav nav-fill">
   <div class="container">
       <div class="row">
           <div class="col">
                <button class="btn btn-block rounded-pill" id="talkbutton" routerLink="talk">Talk</button>
           </div>
           <div class="col">
                <button class="btn btn-block rounded-pill" id="annbutton" routerLink="ann">Announcement</button>
           </div>
       </div>
   </div>
</ul>

<div class="feed-portion">
    <router-outlet></router-outlet>
</div>

<app-navbar></app-navbar>

<!--<li class="nav-item">
        <button class="btn btn-primary btn-block rounded-pill" routerLink="talk">Talk</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary btn-block rounded-pill" routerLink="ann">Announcement</button>
    </li>-->