<app-banner-small></app-banner-small>

<div class="container">
    <div class="card" style=" background-image:'assets/img/ill/1.svg';">

     
        <div class="card-body" *ngIf="hasAnn">
          <div class="container">
            <div class="row">
              <h4>Hello, Jeffrey!</h4>
            </div>
            <div class="row">
              <p class="card-text">You have a new announcement from your Favorite Location.</p>
            </div>
            <div class="row justify-content-end">
              <button class="btn btn-default btn-round mr-1" type="button" routerLink="../mytoko">Read More</button>
            </div>
          </div>
        </div>
      
     
      <div class="card-body" *ngIf="!hasAnn">
          <h4>Hello, Jeffrey!</h4>
          <p class="card-text">Glad to see you on ToKo.</p>
          <p class="card-text">Start exploring what's around you!</p>
      </div>
    </div>
</div>


<div class="container">
  <h5 class="contentheader">Places you might be interested in</h5>
  <app-eatcontent></app-eatcontent>
</div>

<div class="container">
  <h5 class="contentheader">You might like these posts</h5>
  <app-postcontent></app-postcontent>
</div>

<app-navbar></app-navbar>
