<app-banner-xs [page]="pageToDisplay"></app-banner-xs>

<div class="container first-portion">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group" [ngClass]="{ 'focused': focus10 === true }">
            <div class="mb-3 mt-5">
                <small class="text-uppercase">
                    Write a new post
                </small>
            </div>
            <textarea
            class="form-control" 
            (blur)="focus10 = false" 
            (focus)="focus10 = true"
            id="talkPostDesc"
            name="talkPostDesc"
            ngModel
            required
            placeholder="What's on your mind?"
            rows="3"
            spellcheck="false"
            ></textarea>
            <small>
                Your post will be publicly visible at this location.
            </small>
        </div>
        <div class="form-group">
            <label for="pictureUrl">INSERT AN IMAGE!</label>
            <input
                type="file"
                id="pictureUrl"
                class="file-input"
                name="pictureUrl"
                (change)="onUploadImg($event)"
                accept=".png,.jpg"
                required
                #fileUpload>
            <div class="file-upload">
                <div class="col-xs justify-center">
                    <button type="button" class="btn btn-default rounded-pill" *ngIf="!isUploaded" (click)="fileUpload.click()">
                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Upload Picture
                    </button>
                </div>
            </div>
            <div *ngIf="uploadProgress | async as pct">
                <!-- <progress [value]="pct" max="100"></progress> -->
            </div>
            <div class="card" style="width: 18rem;" *ngIf="isUploaded">
                <img class="card-img-top" [src]="uploadUrl | async">
                <div class="card-body">
                  <h5 class="card-title">Picture Preview</h5>
                  <button class="btn btn-default rounded-pill" (click)="cancelUpload()">Upload New Picture</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <select
                id="category"
                class="form-control"
                [ngModel]="defaultCategory"
                name="category">
                <option value="unknown">Select Post Category</option>
                <option value="general">General</option>
                <option value="specific">Specific</option>
            </select>
        </div>
        <div class="container" style="margin-top: 8%">
            <button class="btn btn-default rounded-pill btn-block" type="submit" [disabled]="!f.valid">Submit Post</button>
        </div>
    </form>
</div>

<!-- <div class="container second-portion">
    <button type="button" class="btn btn-default rounded-pill" *ngIf="!isUploaded" (click)="uploadPic()">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Upload Picture
    </button>
    <div class="card" style="width: 18rem;" *ngIf="isUploaded">
        <img class="card-img-top" src="https://electrek.co/wp-content/uploads/sites/3/2020/08/Tesla-Elon-Musk.jpg?quality=82&strip=all">
        <div class="card-body">
          <h5 class="card-title">Picture Preview</h5>
          <button class="btn btn-default rounded-pill">Upload New Picture</button>
        </div>
    </div>
</div> -->

