<app-banner-xs [page]="pageToDisplay"></app-banner-xs>

<div class="container top-portion">
    <h5 style="color: #47A23F;">Change Your ToKo Account Password</h5>
</div>

<div class="container bottom-portion">
    <div class="row">
        <div class="col">
          <form class="loginform" #authForm="ngForm">
            <div class="form-group">
              <label for="oldpw">Current Password</label>
              <input
                type="password"
                id="oldpw"
                class="form-control"
                ngModel
                name="oldpw"
                required
              />
            </div>
            <div class="form-group">
              <label for="newpw">New Password</label>
              <input
                type="password"
                id="newpw"
                class="form-control"
                ngModel
                name="newpw"
                required
              />
            </div>
            <div class="form-group">
                <label for="confirmpw">Confirm New Password</label>
                <input
                  type="password"
                  id="confirmpw"
                  class="form-control"
                  ngModel
                  name="confirmpw"
                  required
                />
              </div>
            </form>
            <button class="btn btn-block rounded-pill">Confirm Change</button>
        </div>
    </div>
</div>